<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} - Russ Johnson</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul class="topnav">
          {% for entry in collections.top %}
					<li><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page" class="active"{% endif %}>{{ entry.data.title }}</a></li>
				{% endfor %}
        </ul>
      </nav>
    </header>
    <main>
      <nav>
        <ul class="breadcrumb">
        {% set navPages = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: true }) %}
        {% for entry in navPages %}
        <li><a href="{{ entry.url }}">{{ entry.key }}</a></li>
        {% endfor %}
      </ul>
      </nav>
      <nav>
        <ul>
          {% set navPages = collections.all | eleventyNavigation(eleventyNavigation.key) %}
          {% for navPage in navPages %}
          <li>{{ eleventyNavigation.key }}</li>
          {% endfor %}
      </ul>
      </nav>
      <article>
        {{ content | safe }}
      </article>
    </main>
  </body>
</html>
