@font-face {
  font-family: "Shantell Sans";
  src: url("/css/Shantell_Sans/ShantellSans-Italic-VariableFont_BNCE,INFM,SPAC,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Tilt Warp";
  src: url("/css/fonts/Tilt_Warp/TiltWarp-Regular-VariableFont_XROT,YROT.ttf")
    format("truetype");
}

:root {
  --bg: white;
  --bg-accent: rgb(205, 215, 214);
  --accent: rgb(248, 112, 96);
  --text: rgb(39, 45, 45);
  --text-light: rgb(184, 197, 214);
  --header-bg: rgb(179, 163, 148);
  --dark-blue: rgb(16, 37, 66);
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif,
    Helvetica, sans-serif;
  background-color: var(--black);
}

body {
  color: var(--text);
  background: var(--bg);
  font-size: var(--base-fontsize);
  line-height: var(--line-height);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  flex: 1;
  margin: 0 auto;
  max-width: 45rem;
  padding: 0 0.5rem;
  overflow-x: hidden;
  word-break: break-word;
  overflow-wrap: break-word;
  line-height: 1.6rem;
}

h1,
h2,
h3 {
  font-family: "Tilt Warp";
  background-color: var(--header-bg);
  line-height: 1.6rem;
  padding: 1rem;
  border-radius: 0.3rem;
}

h1 {
  font-family: "Tilt Warp";
  background-color: var(--dark-blue);
  color: var(--text-light);
}

nav ul {
  list-style: none;
}

header {
  border-bottom: 1px solid var(--border);
  text-align: left;
  padding: 0.5rem;
  width: 100vw;
  position: relative;
  box-sizing: border-box;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

header a {
  font-family: "Tilt Warp", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  color: var(--text-light);
}

main {
  padding-top: 1.5rem;
}

nav li {
  display: inline-block;
  padding-right: 2rem;
}

nav li .active {
  border-bottom: 1px solid var(--accent);
  color: var(--text);
}
